<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BlueEssay</title>
    <meta name="description" content="{{ meta_description }}">
    <link rel="stylesheet" type="text/css" href="assets/css/app.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body {% if bodyClass %}class="{{ bodyClass }}"{% endif %}>
    {% include "_html/_base/_includes/_header.html" %}
    {% include "_html/_base/_includes/_baner.html" %}
    {% include "_html/_base/_includes/_welcome.html" %}
    {% include "_html/_base/_includes/_card.html" %}
    {% include "_html/_base/_includes/_stepcard.html" %}
    {% include "_html/_base/_includes/_discount.html" %}
    {% include "_html/_base/_includes/_slider.html" %}
    {% include "_html/_base/_includes/_footer.html" %}
  </body>
  </body>
</body>
</html>