.slider{
    .sale{
        >.row{
            display: flex;
            justify-content: center;
            position: relative;
            top: -250px;
            .col-9{
                padding: 0px;
                box-shadow: 0px 4px 30px 0 rgba(202, 202, 202, 0.55);
                .pages-sale{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    padding: 15px 50px;
                    .row{
                        .pages-sale__block:nth-child(1){
                            border-right: 1px solid #e1e1e79c;
                            border-bottom: 1px solid #e1e1e79c;
                        }
                        .pages-sale__block:nth-child(2){
                            border-left: 1px solid #e1e1e79c;
                            border-bottom: 1px solid #e1e1e79c;
                        }
                        .pages-sale__block:nth-child(3){
                            border-top: 1px solid #e1e1e79c;
                            border-right: 1px solid #e1e1e79c;
                        }
                        .pages-sale__block:nth-child(4){
                            border-top: 1px solid #e1e1e79c;
                            border-left: 1px solid #e1e1e79c;
                        }
                        .pages-sale__block{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            padding: 40px;
                            
                            h3{
                                font-weight: 700;
                                text-align: center;
                                margin-bottom: 20px;
                                color:#f75e2e;  
                            }
                            >p{
                                margin-bottom: 10px;
                            }
                            .page-times{
                                @include textStyle(17,600,Poppins,#0287c3)
                            }
                        }
                    }
                }
                .discount-sale{
                    padding: 20px;
                    background-color: #03a9f4;
                    .wraper-dashed{
                        position: relative;
                        padding: 30px;
                        border-radius: 25px;
                        border: 2px dashed #0287c3;
                        h4{
                            margin-bottom: 40px;
                        }
                        .discount-block{
                            position: relative;
                            background-color: #1088c7;
                            border-radius: 15px;
                            border: 2px dashed #fff;
                            padding: 30px 80px;
                            margin-bottom: 50px;
                            p{
                                @include textStyle(14,500,Poppins,#fff);
                            }
                            .get{
                                @include fsz(24);
                                position: relative;
                                left: -30px;
                            }
                            h3{
                                @include textStyle(55,700,Poppins,#e2f55d);
                                padding-bottom: 10px;
                                text-align: center;
                            }
                            &::before{
                                content: url(../img/scissors.svg);
                                position: absolute;
                                left: -15px;
                                top: -15px;

                            }
                            &::after{
                                content: url(../img/stars.svg);
                                position: absolute;
                                right: -15px;
                                top: -15px;

                            }
                        }
                        .italic{
                            @include textStyle(16,normal,'Open Sans',#fff);
                            font-style: italic;
                            &::after{
                                content: url(../img/Balloon.png);
                                position: absolute;
                                right: -50px;
                                bottom: -10px;
                            }
                        }
                    }
                }
            }
        }
    }
}