.step-card {
    padding: 90px 0px;
    text-align: center;
    .items{
        margin-top: 55px;
        padding: 30px 40px;
        position: relative;
        img{
            margin-bottom: 30px;
        }
        h6{
            margin-bottom: 20px;
        }
        p{
            line-height: 1.54;
        }
    }
    .items:not(:last-child){
        position: relative;
        &::before{
            content: '';
            background-image: url(../img/arrow_ourSimple.png);
            background-repeat: no-repeat;
            position: absolute;
            right: -17px;  
            width: 22px;
            height: 230px;
            background-size: contain;
        }
    }
}

@media screen and (max-width:991px){
    .step-card{
        .items:nth-child(2){
            &::before{
                background-image: none;
            }
        }
    }
}