.welcome{
    padding: 0px 0px 90px;
    h3{
        font-weight: 700;
        margin-bottom: 30px;
    }
    .welcome__img{
        background-color: #e6f7fe;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding-top: 90px;
        img{
            width: 55%;
        }
    }

    .text{
        margin-bottom: 30px;
        line-height: 1.57;
    }
    .text:last-child{
        margin-bottom: 0px;
    }
    .fff {
      padding-left: 40px;  
    }
}

@media screen and (max-width:991px){
    .welcome{
        margin-top: 30px;
        .welcome__img{
            img{
                width: 95%;
            }
        }
    }
}

@media screen and (max-width:768px){
    .welcome{
        margin-top: 15%;
        .welcome__img{
            margin-bottom: 30px;
            padding-top: 30px;
            img{
                width: 80%;
            }
        }
    }
}


@media screen and (max-width:576px){
    .welcome{
        margin-top: 15%;
    }
}


@media screen and (max-width:400px){
    .welcome{
        margin-top: 30%;
    }
}
