<main class="baner">
    <div class="container-fluid">
        <!-- <img class="background" src="../../../assets/img/cloud.png" alt="alt"> -->
        <div class="container">
           <div class="row">
                <div class="row col-12">
                    <div class="baner__info col-sm-12 col-md-8 col-lg-8 col-xl-9">
                        <h1><span class="blue">BlueEssaySite.net -</span><br>
                            expert help for custom Written
                        </h1>
                        <p class="text">
                            On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized
                        </p>
                        <div class="button-orange">
                            <div class="button">
                                <p>Place an order</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-md-block col-md-4 col-lg-4 col-xl-3 img_girl">
                        <img src="./assets/img/img_girl.png" alt="img">
                    </div>
                </div>
                <div class="col-12">
                    <form action="#" class="row">
                        <div class="col-sm-6 col-md-4 col-lg-2 opt">
                            <p>Type of paper</p>
                            <select name="type">
                                <option value="">Placeholder text</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2 opt">
                            <p>Writer level</p>
                            <select name="level">
                                <option value="">High school</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-2 opt">
                            <p>Urgency</p>
                            <select name="urgency">
                                <option value="">21 days</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-6 col-lg-2 opt">
                            <p>Number of pages</p>
                            <select name="num">
                                <option value="">2</option>
                            </select>
                        </div>
                        <div class="col-sm-12 button-blue col-md-6 col-lg-2">
                           <button type="submit" class="button">
                                <p>Continue</p>
                           </button>
                        </div>
                    </form>
                </div>
           </div>
        </div>
    </div>
</ыусешщт>