<main class="card">
    <div class="container-fluid">
        <div class="container">
            <p class="sub-title white">02  Our advantages</p>
            <h3 class="white">Advantages of Our Writing Services</h3>
            <div class="row">
                <div class="col-4">
                    <div class="wraper">
                        <img src="../../../assets/img/reward.png" alt="img">
                        <h5>Professionally-qualified 
                            writing experts</h5>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="wraper">
                        <img src="../../../assets/img/tasklist.png" alt="img">
                        <h5>Commitment to deliver papers by deadline</h4>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="wraper">
                        <img src="../../../assets/img/computer.png" alt="img">
                        <h5>Top-quality, at a great price - guaranteed</h5>
                        <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
                    </div>
                </div>
            </div>
            <div class="button-blue">
                <div class="button">
                    <p>Place an order</p>
                </div>
            </div>
        </div>
    </div>
</main>