<footer>
    <div class="container-fluid">
        <div class="container">
            <div class="navigation">
                <div class="row">
                    <div class="d-flex col-12 col-sm-12 d-lg-block col-lg-3 col-xl-5 logo">
                        <img src="./assets/img/logo.png" alt="img">
                    </div>
                    <div class="d-none col-md-2 d-md-block d-lg-none">
                        <img src="./assets/img/phone-logo.png" alt="img">
                    </div>
                    <nav class="col-sm-12 col-md-10 col-lg-9 col-xl-7">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Order now</a></li>
                            <li><a href="#">Disclaimer</a></li>
                            <li><a href="#">Why Us</a></li>
                            <li><a href="#">Contacts</a></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <hr>
            <div class="quation">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3">
                        <p>Section number1</p>
                        <ul>
                            <li><a href="#">But I must explain to you how</a></li>
                            <li><a href="#">Mistaken idea of denouncing </a></li>
                            <li><a href="#">Praising pain was born</a></li>
                            <li><a href="#">Account of the system</a></li>
                            <li><a href="#">Great explorer of the truth</a></li>
                            <li><a href="#">No one rejects, dislikes</a></li>
                            <li><a href="#">Mistaken idea of denouncing </a></li>
                            <li><a href="#">Praising pain was born</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <p>Section number2</p>
                        <ul>
                            <li><a href="#">But I must explain to you how</a></li>
                            <li><a href="#">Mistaken idea of denouncing </a></li>
                            <li><a href="#">Praising pain was born</a></li>
                            <li><a href="#">Account of the system</a></li>
                            <li><a href="#">Great explorer of the truth</a></li>
                            <li><a href="#">No one rejects, dislikes</a></li>
                            <li><a href="#">Mistaken idea of denouncing </a></li>
                            <li><a href="#">Praising pain was born</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <p>Section number3</p>
                        <ul>
                            <li><a href="#">But I must explain to you how</a></li>
                            <li><a href="#">Mistaken idea of denouncing </a></li>
                            <li><a href="#">Praising pain was born</a></li>
                            <li><a href="#">Account of the system</a></li>
                            <li><a href="#">Great explorer of the truth</a></li>
                            <li><a href="#">No one rejects, dislikes</a></li>
                            <li><a href="#">Mistaken idea of denouncing </a></li>
                            <li><a href="#">Praising pain was born</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                        <p>Section number4</p>
                        <ul>
                            <li><a href="#">But I must explain to you how</a></li>
                            <li><a href="#">Mistaken idea of denouncing </a></li>
                            <li><a href="#">Praising pain was born</a></li>
                            <li><a href="#">Account of the system</a></li>
                            <li><a href="#">Great explorer of the truth</a></li>
                            <li><a href="#">No one rejects, dislikes</a></li>
                            <li><a href="#">Mistaken idea of denouncing </a></li>
                            <li><a href="#">Praising pain was born</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="info">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-xl-3 item items">
                        <p class="copyright">Copyright В© 2017 BlueEssaySite.net<br> All rights reserved.</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-3 icons item items">
                        <div class="icon facebook"><a href="#"></a></div>
                        <div class="icon twitter"><a href="#"></a></div>
                        <div class="icon pinterest"><a href="#"></a></div>
                        <div class="icon google"><a href="#"></a></div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-3 items">
                        <img src="./assets/img/tell.png" alt="alt">
                        <p class="title">Toll free:</p>
                        <p class="tel">+ 3 044 111 2732</p>
                    </div>
                    <div class="col-sm-6 col-md-6 col-xl-3 items">
                        <img src="./assets/img/mail.png" alt="alt">
                        <p class="title">Email:</p>
                        <p class="email">blueessaysite@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>