<header>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class=" col-7 col-sm-5 col-md-6 col-lg-4 col-xl-5 logo">
                    <img src="./assets/img/logo.png" alt="img">
                </div>
                <div class="col-5 col-sm-7 col-md-6 col-lg-8 col-xl-7 navbar">
                    <nav class="d-none d-lg-block">
                        <ul>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">How it works</a></li>
                        </ul>
                    </nav>
                    <img class="d-none d-sm-block" src="./assets/img/phone_icon.svg" alt="img">
                    <div class="button-blue d-none d-sm-block">
                        <div class="button">
                            <p>Sign in</p>
                        </div>
                    </div>
                    <div class="button-orange d-none d-sm-block">
                        <div class="button">
                            <p>Order</p>
                        </div>
                    </div>
                    <div class="burger">
                        <img src="./assets/img/burger.svg" alt="img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>