<main class="slider">
    <div class="container-fluid">
        <div class="container">
            <div class="sale">
                <div class="row">
                    <div class="col-9 row">
                        <div class="col-7 pages-sale">
                            <div class="row">
                                <div class="pages-sale__block col-6">
                                    <h3>4%<br>OFF</h3>
                                    <p>for more than</p>
                                    <p class="page-times">15 pages</p>
                                </div>
                                <div class="pages-sale__block col-6">
                                    <h3>5%<br>OFF</h2>
                                    <p>for more than</p>
                                    <p class="page-times">20 pages</p>
                                </div>
                                <div class="pages-sale__block col-6">
                                    <h3>10%<br>OFF</h3>
                                    <p>for more than</p>
                                    <p class="page-times">50 pages</p>
                                </div>
                                <div class="pages-sale__block col-6">
                                    <h3>15%<br>OFF</h3>
                                    <p>for more than</p>
                                    <p class="page-times">100 pages</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 discount-sale">
                            <div class="wraper-dashed">
                                <h4 class="white ttu tac">Try our service & get huge discounts</h4>
                                <div class="discount-block">
                                    <p class="get">get</p>
                                    <h3>15%<br>OFF</h3>
                                    <p>for your 1st order</p>
                                </div>
                                <p class="italic tac">Use discount15 as discount code</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>