<main class="slider">
    <div class="container-fluid">
        <div class="container">
            <div class="sale">
                <div class="row">
                    <div class="col-md-10 col-lg-11 col-xl-9 row wraper">
                        <div class="col-md-12 col-lg-7 pages-sale">
                            <div class="row">
                                <div class="pages-sale__block col-6">
                                    <h3>4%<br>OFF</h3>
                                    <p>for more than</p>
                                    <p class="page-times">15 pages</p>
                                </div>
                                <div class="pages-sale__block col-6">
                                    <h3>5%<br>OFF</h2>
                                    <p>for more than</p>
                                    <p class="page-times">20 pages</p>
                                </div>
                                <div class="pages-sale__block col-6">
                                    <h3>10%<br>OFF</h3>
                                    <p>for more than</p>
                                    <p class="page-times">50 pages</p>
                                </div>
                                <div class="pages-sale__block col-6">
                                    <h3>15%<br>OFF</h3>
                                    <p>for more than</p>
                                    <p class="page-times">100 pages</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5 discount-sale">
                            <div class="wraper-dashed">
                                <h4 class="white ttu tac">Try our service & get huge discounts</h4>
                                <div class="discount-block">
                                    <p class="get">get</p>
                                    <h3>15%<br>OFF</h3>
                                    <p>for your 1st order</p>
                                </div>
                                <p class="italic tac">Use discount15 as discount code</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-block tac">
                <p class="sub-title">05  Testimonials</p>
                <h3>What our clients says</h3>
                <div class="row">
                    <div class="col-12 slider-block__wraper">
                        <img src="./assets/img/manava.png" alt="img">
                        <p class="text">Using BestEssayService.net was possibly the best choice of my academic career. Even though I work full-time, I managed to submit all my assignments on time owing to the broad array of services on offer. No matter what written work I needed, help was available. I would give a full ten marks.</p>
                        <p class="name">Lorna Grey</p>
                        <p class="date">20 apr 2016 at 8:23</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>