//! 01  Color Palette
// ---
$greenOth:#09a912;
$redOth:#f44747;
$yellowOth:#ffaa33;
$blueOth:#21a5f8;

// ---Primaries
$bluePrim:#21a5f8;
$orangePrim:#f75e2e;
$yellowPrim:#ecfa4d;
$greyPrim:#656a70;
